@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #043873;
  --foreground: #ffffff;
  --primary: #4F9CF9;
  --secondary: #C4DEFD;
  --dark: #212529;
  --font-inter: var(--font-inter) sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
