@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f3617a;
  --secondary: #ef8e9f;
  --bcolor: #19191a;
  --light-blue: #e1f9eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media screen and (max-width: 640px) {
  p{
    font-size: 16px !important;
  }
}

/* min 550px or max 767px */

@media screen and (min-width: 550px) and (max-width: 767px) {
  .hero-img1{
    margin-left: 14%;
  }
  .hero-img2{
    
    margin-left: 36%;
  }
}